/* ============================
   Fondo general
============================ */

.stApp{
    background: linear-gradient(135deg,#0f172a,#111827,#1e293b);
}

/* ============================
   Sidebar
============================ */

section[data-testid="stSidebar"]{

background:#020617;

border-right:1px solid #334155;

}

/* ============================
   Tarjetas
============================ */

.card{

background:#1E293B;

padding:25px;

border-radius:18px;

box-shadow:0px 8px 20px rgba(0,0,0,.35);

transition:0.3s;

margin-top:10px;

height:220px;

}

.card:hover{

transform:translateY(-8px);

box-shadow:0px 12px 25px rgba(56,189,248,.30);

}

/* ============================
   Banner principal
============================ */

.hero{

background:linear-gradient(90deg,#2563EB,#06B6D4);

padding:40px;

border-radius:20px;

margin-bottom:30px;

color:white;

}

/* ============================
   Títulos
============================ */

.big{

font-size:46px;

font-weight:700;

}

.sub{

font-size:20px;

opacity:.9;

}

/* ============================
   Métricas
============================ */

div[data-testid="stMetric"]{

background:#1E293B;

padding:15px;

border-radius:15px;

text-align:center;

}

/* ============================
   Botones
============================ */

.stButton>button{

background:#2563EB;

border-radius:12px;

height:55px;

font-size:18px;

color:white;

width:100%;

border:none;

}

.stButton>button:hover{

background:#38BDF8;

color:black;

}